

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: white;
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.nav-link{
    font-family: Comfortaa, sans-serif;
    font-size: 16px;
    margin-right: 5px;
    border-radius: 20px;
    color: white;
    margin-top: 8px;
}
.nav-link:hover{
    color: #3e3e3e;
}
.navbar{
    background: black;
    padding-bottom: 10px !important;
}
.navbar-brand img{
    width: 300px;
}
.hidden{
    opacity: 0 !important;
}
.navbar-nav{
    padding-right: 50px;
}
.logo{
    color: #000000;
    padding-left: 50px;
    font-size: 24px;
    padding-top: 10px;
    width: 250px !important;
}

.title-container{
    padding-top: 160px;
    background: linear-gradient(#014977, #00c8ff);
    height: 700px;
}
.img-banner{

    width: 70%;
    padding-bottom: 50px;
}
.img-main-logo{
    margin-top: -140px;
    width: 500px;
}
.title-text{
    font-family: "Impact", serif;
    stroke-width: 700 !important;
    font-weight: bold;
    font-size: 60px;
}
.title-text-2{
    font-family: "Impact", sans-serif;
    stroke-width: 700 !important;
    font-weight: bold;
    font-size: 35px;
}
.about{
    background-color: #1977b4;
    color: white;
    padding: 30px;
}
.join-button{
    padding: 10px;
    background-color: #2492e0;
}
.join-button:hover{
    background-color: #137bbb;
}

.earth{
    margin-bottom: 50px;
}
.about-center{
    background-color: black;
    padding: 60px 100px !important;
}

.theory-container{
    margin-top: 50px;
    background-color: #b8e0f7;
    padding-bottom: 50px;
}
.blue-row{
    height: 30px;
    background-color: #137bbb;
}
.theory-center{
    background-color: #e4e6e6;
    padding: 40px;
}
.image-col{
    background: transparent;
}
.theory-img{
    object-fit: cover;
    width: 300px;
    border: 5px solid white;
    margin-bottom: 10px;
    box-shadow: 4px 4px 4px 3px #8c8c8c;
}
.theory-text-col{
    margin-top: 20px;
    border-left: #484848 5px solid;
    min-width: 300px;
}
#action-container-fluid{
    margin: 5px;
    border-radius: 15px;
}
.action-img:hover{
    margin-top: -10px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 4px 4px #6d6d6d;
}
footer{
    background-color: #e3f2fc;
    padding: 30px;
}
html, body{
    background-color: #e3f2fc;
}
.fa-facebook{
    margin-right: 30px;
    font-size: 47px !important;
    background-color: #307bff;
    border-radius: 10px;
    color: white;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 16px;
    padding-right: 16px;
}
.footer-insta{
    margin-right: 30px;
    color: white;
    width: 47px;
    font-size: 50px !important;
    background-color: hotpink;
    padding: 3px 49px 3px 6px;
    border-radius: 10px;
}
.fa-envelope-o{
    color: white;
    background-color: #f4505a;
    padding: 15px;
    font-size: 25px !important;
    border-radius: 10px;
}

.header-insta{
    margin-top: 11px;
}
.email-icon:hover, .footer-insta:hover, .fa-facebook:hover{
    opacity: 0.7;
}
@media (max-width: 767px) {
    .img-main-logo{
        width: 300px;
        margin-top: -100px;
    }
    .theory-text-col{
        border-left: black 0 solid;
        border-top: black 5px solid;
    }
}
@media (max-width: 991px) {

}
@media (max-width: 1199px) {
    .image-col{
        margin-top: 60px;
    }
}
