
.icon-bar {
    width: 22px;
    height: 2px;
    background-color: white;
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.nav-link{
    font-family: Comfortaa, sans-serif;
    font-size: 16px;
    margin-right: 5px;
    border-radius: 20px;
    color: white;
    margin-top: 8px;
}
.nav-link:hover{
    color: #3e3e3e;
}
.navbar{
    background: black;
    padding-bottom: 10px !important;
}
.navbar-brand img{
    width: 300px;
}
.hidden{
    opacity: 0 !important;
}
.navbar-nav{
    padding-right: 50px;
}
.logo{
    color: #000000;
    padding-left: 50px;
    font-size: 24px;
    padding-top: 10px;
    width: 150px !important;
}

footer{
    background-color: #e3f2fc;
    padding: 30px;
}

.fa-facebook{
    margin-right: 30px;
    font-size: 47px !important;
    background-color: #307bff;
    border-radius: 10px;
    color: white;
    padding: 5px 16px 3px;
}
.footer-insta{
    margin-right: 30px;
    color: white;
    width: 47px;
    font-size: 50px !important;
    background-color: hotpink;
    padding: 3px 49px 3px 6px;
    border-radius: 10px;
}

.header-insta{
    margin-top: 11px;
}
.fa:hover{
    opacity: 0.7;
}
.fa-envelope-o{
    color: white;
    background-color: #f4505a;
    padding: 20px;
    font-size:25px !important;
    border-radius: 10px;
}
.touch-button{
    background-color: #4290c8;
    color: white;
    padding: 10px;
    position: center;
    width: 200px;
}
.touch-button:hover{
    opacity: 0.7;
}
.touch-link{
    width: 200px !important;
}
#main-title-row{
    margin-top: 200px;
    background-color: #a7b0b0;
}
html,body{
    background-color: #a7b0b0 !important;
}
.main-container{
    background-color: #ec8336;
    padding: 50px;
    margin: 30px;

}
.officer-img{
    border: 10px solid white;
    margin: 5px;
}
.officer-text{
    font-family: "Impact", sans-serif;
}
.main-fluid{
    background-color: #a7b0b0;
    padding: 50px;
}
hr{
    width: 350px !important;
    background-color: black !important;
}
.fa-2{
    font-size: 30px !important;
    margin: 15px;
    border-radius: 50%;
}
.fa:hover{
    opacity: 0.7;
}
.fa-envelope-o{
    color: white;
    padding: 15px;
    background-color: #f4505a;
}
.fa-linkedin{
    color: white;
    padding: 15px 18px;
    background-color: #2d82b7;
}
.title-text{
    font-family: "Impact", sans-serif;
    stroke-width: 700 !important;
    font-weight: bold;
    font-size: 50px;
}
.title-text-2{
    font-family: "Impact", sans-serif;
    stroke-width: 700 !important;
    font-weight: bold;
    font-size: 35px;
}
.main-title-text{
    font-family: "Impact", sans-serif;
}
